/* Variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
/* Basic Aesthetic Styling */
/* Main CSS for Izzi Ink */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

body {
    background-color: #282828;
    border: magenta 0px solid;
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: #F2E9C2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    /* hero xl */
    text-align: start;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.5rem;
    /* identical to box height, or 81% */
    color: #D7CCC8;
    padding-left: 0rem;

}

h2 {
    /* hero xl */
    /* h2 / xl */

    text-align: left;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    /* line-height: 2rem; */
    color: #D7CCC8;
    padding: 0 2rem 0 0rem;
    /* identical to box height, or 112% */

}

h3 {
    /* hero xl */
    /* h2 / xl */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    /* identical to box height, or 112% */

}

p {

    display: inline-block;
    text-align: left;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    padding: 0 2rem 0 0rem;
    
}

.btn {
   
    display: inline-block;
    align-self: start;
    border: #D7CCC8 2px solid;
    background-color: #282828;
    color: rgb(255, 255, 255);
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
    text-decoration: none; 
    font-family: var(--mono);
}

.btn:hover {
    color: rgb(33, 33, 33);
    background-color: #D7CCC8;
}

/* Nav Elements for footer */

.container {
    border: magenta 0px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "hero hero hero"
        "articles articles articles"
        "footer footer footer";
}

.header {
    border: magenta 0px dashed;
    grid-area: header;
    box-shadow: 0px 0.525rem 0.25rem rgba(0, 0, 0, 0.25);
}

.navbar {
    border: rgb(255, 217, 0) 0px dashed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    padding: 1rem 1.5rem;
   
}

.hamburger {
    display: none;
}

.bar {
    border: magenta 0px solid;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.nav-menu {
    border: magenta 0px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    border: magenta 0px solid;
    margin-left: 5rem;
}

.nav-link {
    border: magenta 0px solid;
    font-weight: 600;
    font-size: 1rem;
    /* font-size: 1.6rem;
    font-weight: 400; */
    color: #ffffff;
    padding-right: 2rem;
}

.nav-link:hover {
    border: magenta 0px solid;
    color: #F2E9C2;
}

.nav-logo {
    border: magenta 0px solid;
    font-size: 2.1rem;
    font-weight: 500;
    color: #ffffff;
}

.hero {
    background-color: #FFFFFF;
    background-image: url(../img/bg.jpg);
    border: magenta 0px solid;
    display: grid;
    grid-template-columns: 0.2fr 1.3fr 1.5fr;
    grid-template-rows: 0.4fr 2.1fr 0.5fr;
    gap: 0px 0px 0px;
    grid-template-areas:
        ". . ."
        ". main-story character"
        ". . character";
    grid-area: hero;
    padding: 0rem;
}

.main-story  {
    grid-area: main-story;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40rem;
    background-color: #2e2e2e;
    padding: 1rem 1rem 2rem 2rem;
    margin: -1rem;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 1rem;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border: magenta 0px solid;
    gap: 0px 0px 0px;
   

}

.character {
    border: magenta 0px solid;
    grid-area: character;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0rem 0rem 0rem 2rem;
    gap: 0px 0px 30px;

}

/* at smaller screens this must perhaps be flex */
.articles {
    border: magenta 0px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "doodles drawings books"
        "doodles drawings books"
        "doodles drawings books"
        "doodles drawings books"
        "footer footer footer";
    grid-area: articles;
    background-color: #282828;
}

.doodles {
    border: magenta 0px solid;
    border-radius: 0 0 1.5rem 0;
    background-color: #282828;
    grid-area: doodles;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.drawings {
    border: magenta 0px solid;
    background-color: #282828;
    grid-area: drawings;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.books {
    border: magenta 0px solid;
    background-color: #282828;
    grid-area: books;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.container-footer {
   

    grid-area: footer;
    border-top: #6f6f6f .125rem dashed;
   
    background-color: #282828;
    color: #ffffff;
    font-size: 1rem;
    margin-top: 10rem;
    padding: 3rem;
    text-align: center;

}
/* start with media queries */
/* media queries for menu responsiveness */

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #2e2e2e;
        width: 100%;
        border-radius: 0px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0px 0.5rem 4px rgba(0, 0, 0, 0.25);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* inside the Media Query. */

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hero {
        grid-area: hero;
        background-image: none;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr;
        gap: 0px 0px;
        grid-template-areas:
            "header header header"
            "articles articles articles"
            "hero hero hero"
            "footer footer footer";
    }
}

/* 1. mobile devices */
@media screen and (min-width : 320px) and (max-width : 480px) {
    body {
        background-color: #282828;

    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr;
        gap: 0px 0px;
        grid-template-areas:
            "header header header"
            "articles articles articles"
            "hero hero hero"
            "footer footer footer";

    }

    .articles {
        border: magenta 0px solid;
        display: flex;
        flex-direction: column;
        grid-area: articles;
        background-color: #282828;
    }
 .main-story {
     
        grid-area: main-story;
        width: 40rem;
        background-color: #2e2e2e;
        padding: 0.5rem 2rem 2rem 0.5rem;
        margin: -1rem;
        border-color: #ffffff;
        border-style: solid;
        border-radius: 1rem;
        box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
        

    }
    .hero {
        grid-area: hero;
        background-image: none;
        display:none;
        
    }
}
/* 2. tablet devices */
@media screen and (min-width : 481px) and (max-width : 768px) {
    body {
        background-color: #282828;

    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr;
        gap: 0px 0px;
        grid-template-areas:
            "header header header"
            "articles articles articles"
            "hero hero hero"
            "footer footer footer";

    }

    .articles {
        display: flex;
        flex-direction: column;

        grid-area: articles;
        background-color: #282828;
    }
    .main-story {
        grid-area: main-story;
        width: 20rem;
        background-color: #2e2e2e;
        padding: 0.5rem 2rem 2rem 0.5rem;
        margin: -1rem;
        border-color: #ffffff;
        border-style: solid;
        border-radius: 1rem;
        box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);

    }
    
    .hero {
        grid-area: hero;
        background-image: none;
        display: none;
    }

}

/* 3. small screens and laptops */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    body {
        background-color: #282828;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr;
        gap: 0px 0px;
        grid-template-areas:
            "header header header"
            "articles articles articles"
            "hero hero hero"
            "footer footer footer";

    }

    .articles {
        display: flex;
        flex-direction: column;

        grid-area: articles;
        background-color: #282828;
    }
    .hero {
        grid-area: hero;
        background-image: none;
        display: none;
    }
}

/* 4. large screens and desktops */
@media screen and (min-width : 1024px) {
    body {
      
        
        background-color: #282828;
        
        
}

/* 5. extra large screens and televisions */
@media screen and (min-width : 1284px) {
    body {
        background-color: #282828;
        
    }
}}