
/* Paul Irish Code here */

/* Reset */

/* border box model: https://css-tricks.com/box-sizing/ */



:root {
    --black: #282828;
    --dkblue: #635d58;
    --plum: #291f29;
    --hotmag: #e96176;
    --magenta: #f35f75;
    --sky:#47A8CA;
    --sand: #D7CCC8;
    --kalahari: #DAA994;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Roboto Condensed", monospace;
    --sans: "Montserrat", sans-serif;
    --focus:'Montserrat Alternates', sans-serif;
}


/* border box model: https://css-tricks.com/box-sizing/ */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    /* h1/base */

font-family: 'Inter' sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 52px;
color: var(--sand);
/* identical to box height, or 186% */

}

h2 {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--kalahari);
}


p {
font-family: 'Inter' sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: var(--sand);/* p/base */
}
/* generic styles for the page */

body {
    background-color: var(--sky);
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    color: var(--white);
    font-size: var(--font-size);
}

nav {
    background-color: var(--black);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

nav a:hover,
nav :hover {
    color: var(--white);
}

.wrapper {
    justify-content: center;
    max-width: 360px;
    margin: 0 auto;
    padding: 0 1rem;
}
.card {
    border:  var(--white) 2px solid;
    color: var(--white);
    background-color:var(--black);
    padding: 16px;
    border-radius: 16px;
    position: relative;
    width: 312px;
    height: 367px;
  }

  .card img {
    position: absolute;
    right: 48px;
    bottom: -232px; /* Adjust this value to control the overlap */
    z-index: 1;
  }
  .card p {
      color: aliceblue;
    position: relative;
    z-index: 2;
  }

