/* Basic Aesthetic Styling */
:root {
    --badger: #282828;
    --crown:#c0c0c0;
    --ranger: #635d58;
    --honey: #fec224;
    --pleasure: #e96176;
    --passion: #f35f75;
    --gem:#562cc2;
    --indigo:#3d50b5;
    --dusk: #5C6BC0;
    --sky:#47A8CA;
    --darkrain: #2D6072;
    --rain: #317B9A;
    --sand: #D7CCC8;
    --kalahari: #DAA994;
    --skinwalker:#f2bba4;
   --freshdune:#F3D2B5;
    --namib:#b44512;
    --white: #f7f8fa;
    --black: #000000;
    --font-size: 1.3rem;
    --sans: "Inter", sans-serif;
   
}

/* Basic Aesthetic Styling */
/* Main CSS for Izzi Ink */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

body {
    background-color: #282828;
    border: magenta 0px solid;
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: #F2E9C2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    /* hero xl */
    text-align: start;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
    /* identical to box height, or 81% */
    color: #D7CCC8;
    padding-left: 2rem;

}

h2 {
    /* hero xl */
    /* h2 / xl */

    text-align: left;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
    color: #D7CCC8;
    padding-left: 2rem;
    /* identical to box height, or 112% */



}

h3 {
    /* hero xl */
    /* h2 / xl */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    /* identical to box height, or 112% */
}

p {

    display: inline-block;
    text-align: left;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* This should be cleared out */
.container {
    border: magenta 0px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.5fr .3fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "card-container card-container card-container"
        "articles articles articles"
        "footer footer footer";
}

.header {
    border: magenta 0px dashed;
    grid-area: header;
    box-shadow: 0px 0.525rem 0.25rem rgba(0, 0, 0, 0.25);
}

.navbar {
    border: rgb(255, 217, 0) 0px dashed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    padding: 1rem 1.5rem;
   

}

.hamburger {
    display: none;
}

.bar {
    border: magenta 0px solid;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.nav-menu {
    border: magenta 0px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    border: magenta 0px solid;
    margin-left: 5rem;
}

.nav-link {
    border: magenta 0px solid;
    font-size: 1.3rem;
    font-weight: 400;
    color: #ffffff;
    padding-right: 2rem;
}

.nav-link:hover {
    border: magenta 0px solid;
    color: #F2E9C2;
}

.nav-logo {
    border: magenta 0px solid;
    font-size: 2.1rem;
    font-weight: 500;
    color: #ffffff;
}

/* This should be renamed to card container */
.card-container {
 /* Turn the grid on  */
 display: grid;
    /* Set the number of columns and rows */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* Set the gap between the columns and rows */
    gap: 0px 64px;
    /* Set the grid area */
    grid-template-areas:
        "c1 c2 c3";
    /* Set the background color of the grid */
    background-color: #ffffff;
    /* Set the margin of the grid */
    margin: 0px;
    /* Set the border of the grid */
    border: magenta 2px solid;
    /* Set the border radius of the grid */
    border-radius: 0rem;
    /* Set the box shadow of the grid */
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    /* Set the width of the grid */
    width: 100%;
    /* Set the height of the grid */
    height: 70%;
    /* Set the padding overall of the grid */
    padding: 0 0 2rem 2rem;

}

#c1 {
    grid-area: c1;
    background-color: #d91a30;
}

#c2 {
    grid-area: c2;
    background-color: #35c849;
}

#c3 {
    grid-area: c3;
    background-color: #3552c8;
}


/* this should be renamed to card */
.card  {
    display: flex;
    flex-direction: column;
    width: 50rem;
    background-color: #2e2e2e;
    padding: 2rem 2rem 2rem 2rem;
    margin: -1rem;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 1rem;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border: magenta 2px solid;
    
   

}
/* at smaller screens this must perhaps be flex */

.container-footer {
   
    border: #fec224 0px solid;
    grid-area: footer;
    border-top: #6f6f6f .125rem dashed;
    background-color: #282828;
    color: #ffffff;
    font-size: 1rem;
    padding: 3rem;
    text-align: center;

}

.container-footer a {
    border: pink 0px solid;
    color: #ffffff;
    text-decoration: none;
}

.container-footer a:hover {
    color: #F2E9C2;
}

.container-footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border-top: 0;
    justify-content: center;
    align-items: center;
    
}
.container-footer ul li {
    border: pink 0px solid;
    margin: 0 1rem;
    padding: .5rem;
}

/* start with media queries */
/* media queries for menu responsiveness */

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #2e2e2e;
        width: 100%;
        border-radius: 0px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0px 0.5rem 4px rgba(0, 0, 0, 0.25);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* inside the Media Query. */

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* 1. mobile devices */
@media screen and (min-width : 320px) and (max-width : 480px) {
    body {
        background-color: red;

    }
   
}
/* 2. tablet devices */
@media screen and (min-width : 481px) and (max-width : 768px) {
    body {
        background-color: green;

    }
}

/* 3. small desktop screens and laptops */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    body {
        background-color: blue;
    }

}

/* 4. large screens and desktops */
@media screen and (min-width : 1024px) {
    body {
      
        
        background-color: black;
         
}

/* 5. extra large screens and televisions */
@media screen and (min-width : 1284px) {
    body {
        background-color: white;
        
    }
}}